Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

codecov.yml:

ignore:
  - "tests/**/*"
  - "other/**/*"
  - "extern/**/*"

github_checks:
  annotations: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  after_n_builds: 2

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "src/GameFinder.Common/**"
        - "src/GameFinder.RegistryUtils/**"
    - component_id: wine
      name: Wine
      paths:
        - "src/GameFinder.Wine/**"
    - component_id: store_handler_ea_desktop
      name: EA Desktop
      paths:
        - "src/GameFinder.StoreHandlers.EADesktop/**"
    - component_id: store_handler_egs
      name: EGS
      paths:
        - "src/GameFinder.StoreHandlers.EGS/**"
    - component_id: store_handler_gog
      name: GOG
      paths:
        - "src/GameFinder.StoreHandlers.GOG/**"
    - component_id: store_handler_origin
      name: Origin
      paths:
        - "src/GameFinder.StoreHandlers.Origin/**"
    - component_id: store_handler_steam
      name: Steam
      paths:
        - "src/GameFinder.StoreHandlers.Steam/**"

Update
  Directory.Packages.props
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.Common/GameFinder.cs
  src/GameFinder.Common/IGame.cs
  src/GameFinder.Common/IGameFinder.cs
  src/GameFinder.Common/IGameName.cs
  src/GameFinder.Common/IHandler.cs
  src/GameFinder.Common/IId.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginGame.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGame.cs
  tests/TestUtils/XunitLogger.cs
Due: Core, GOG, Origin

Update
  src/GameFinder.Common/GameFinder.cs
  src/GameFinder.Common/IGame.cs
  src/GameFinder.Common/IGameFinder.cs
  src/GameFinder.Common/IId.cs
  src/GameFinder.Common/LogMessages.cs
  src/GameFinder.StoreHandlers.GOG/GOGGameId.cs
  src/GameFinder.StoreHandlers.Origin/OriginGameId.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGameId.cs
Due: Core, GOG, Origin

Update Example
  other/GameFinder.Example/Program.cs
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update deps
  Directory.Packages.props
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add snap path
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
Due: Steam

Fix tests
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
Due: none

Add Flatpak
  CHANGELOG.md
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
Due: Steam

Add heroic support
  CHANGELOG.md
  Directory.Packages.props
  GameFinder.sln
  README.md
  other/GameFinder.Example/GameFinder.Example.csproj
  other/GameFinder.Example/Options.cs
  other/GameFinder.Example/Program.cs
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/GameFinder.Launcher.Heroic.csproj
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
Due: none

Upgrade workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate-codecov.yml
Due: none

Skip codecov
  .github/workflows/ci.yml
Due: none

Update
  .github/workflows/ci.yml
Due: none

Provide wine prefix for heroic
  CHANGELOG.md
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/GameFinder.Launcher.Heroic.csproj
  src/GameFinder.Launcher.Heroic/HeroicGOGGame.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
  src/GameFinder.Wine/WinePrefix.cs
  src/GameFinder/GameFinder.csproj
Due: Wine

Validate the installed_json file exists before parsing
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
Due: none

Add check for empty Steam manifest file
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
Due: Steam

Update AWinePrefix.cs
  src/GameFinder.Wine/AWinePrefix.cs
Due: Wine

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add BuildId to GOG and Heroic (GOG)
  CHANGELOG.md
  src/GameFinder.Launcher.Heroic/HeroicGOGGame.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/ArrangeHelpers.cs
Due: GOG

Heroic: Support linux native games
  CHANGELOG.md
  other/GameFinder.Example/Program.cs
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGGame.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
Due: none

Upgrade to .NET 9
  CHANGELOG.md
  Directory.Build.props
Due: none

Update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Upgrade paths library to 0.18.0
  Directory.Packages.props
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
Due: Steam

Upgrade ValveKeyValue
  Directory.Packages.props
Due: none

Fix escape sequences in local user config files
  CHANGELOG.md
  Directory.Packages.props
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/LocalUserConfigParser.cs
Due: Steam

Include environment variables in the heroic output
  CHANGELOG.md
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGGame.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
Due: none

Steam: add logging
  Directory.Packages.props
  other/GameFinder.Example/Program.cs
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/LibraryFoldersManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/SteamHandlerTests.cs
Due: Core, Steam

Update GOG and Heroic `buildId` from string to ulong
  CHANGELOG.md
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGGame.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/ArrangeHelpers.cs
Due: GOG

Fix tests
  tests/GameFinder.StoreHandlers.GOG.Tests/ArrangeHelpers.cs
Due: none

Update TransparentValueObjects
  Directory.Packages.props
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Xbox/GameFinder.StoreHandlers.Xbox.csproj
Due: EA Desktop, EGS, GOG, Origin, Steam

Update dependencies
  CHANGELOG.md
  Directory.Packages.props
Due: none

Include manifests for Epic games, and group downloads by main catalog item Id
  src/GameFinder.StoreHandlers.EGS/EGSGame.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/ArrangeHelpers.cs
  tests/TestUtils/AssertionHelpers.cs
Due: EGS

Fix heroic number parsing
  CHANGELOG.md
  src/GameFinder.Launcher.Heroic/DTOs/Json.cs
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
Due: none

Better GOG ID parsing
  CHANGELOG.md
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/Test_ShouldError_InvalidValues.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/Test_ShouldError_MissingValues.cs
Due: GOG

Fix formatting
  src/GameFinder.Launcher.Heroic/HeroicGOGHandler.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/ArrangeHelpers.cs
Due: none
