Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

codecov.yml:

ignore:
  - "tests/**/*"
  - "other/**/*"
  - "extern/**/*"

github_checks:
  annotations: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  after_n_builds: 2

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "src/GameFinder.Common/**"
        - "src/GameFinder.RegistryUtils/**"
    - component_id: wine
      name: Wine
      paths:
        - "src/GameFinder.Wine/**"
    - component_id: store_handler_ea_desktop
      name: EA Desktop
      paths:
        - "src/GameFinder.StoreHandlers.EADesktop/**"
    - component_id: store_handler_egs
      name: EGS
      paths:
        - "src/GameFinder.StoreHandlers.EGS/**"
    - component_id: store_handler_gog
      name: GOG
      paths:
        - "src/GameFinder.StoreHandlers.GOG/**"
    - component_id: store_handler_origin
      name: Origin
      paths:
        - "src/GameFinder.StoreHandlers.Origin/**"
    - component_id: store_handler_steam
      name: Steam
      paths:
        - "src/GameFinder.StoreHandlers.Steam/**"

Fix formatting
  tests/GameFinder.Wine.Tests/Test_WinePrefixProperties.cs
Due: none

Fix AWinePrefix.CreateRegistry opening a file that doesn't exist
  CHANGELOG.md
  src/GameFinder.Wine/AWinePrefix.cs
  tests/GameFinder.Wine.Tests/Test_CreateRegistry.cs
Due: Wine

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix WMIHelper for more than 1 element
  CHANGELOG.md
  src/GameFinder.StoreHandlers.EADesktop/Crypto/Windows/WMIHelper.cs
Due: EA Desktop

Cleanup
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Mark GameFinder.StoreHandlers.EADesktop as non-trimmable
  CHANGELOG.md
  README.md
  other/GameFinder.Example/GameFinder.Example.csproj
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
Due: EA Desktop

Update workflow
  .github/workflows/ci.yml
Due: none

Update CI workflow
  .github/workflows/ci.yml
Due: none

use GitHubActionsTestLogger
  .github/workflows/ci.yml
  tests/Directory.Build.props
Due: none

Update tests
  tests/GameFinder.Common.Tests/HandlerTests.cs
  tests/TestUtils/TestUtils.csproj
Due: none

Fix tests
  tests/GameFinder.Common.Tests/HandlerTests.cs
Due: none

Update project
  tests/TestUtils/TestUtils.csproj
Due: none

Disable trimming
  .github/workflows/ci.yml
Due: none

Update project
  README.md
  other/GameFinder.Example/GameFinder.Example.csproj
Due: none

Add CloudSavesDirectory to SteamGame
  .editorconfig
  CHANGELOG.md
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_SteamGameProperties.cs
Due: Steam

Update tests
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelpers.cs
Due: none

EADesktop games can be missing a BaseSlug entry (e.g., Knockout City)
  other/GameFinder.Example/Program.cs
  src/GameFinder.RegistryUtils/InMemoryRegistry.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopGame.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EADesktop/InstallInfoFile.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_InstallInfoToGame.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_ShouldWork_FindAllGames.cs
Due: Core, EA Desktop

Fix bad merge
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/ArrangeHelpers.cs
Due: EA Desktop

Add EA Desktop encrypted/decrypted files
  tests/GameFinder.StoreHandlers.EADesktop.Tests/CryptoTests/Test_Decryption.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/files/IS_Nutzzz.decrypted
  tests/GameFinder.StoreHandlers.EADesktop.Tests/files/IS_Nutzzz.encrypted
Due: none

Add key for decryption of IS_Nutzzz.encrypted
  tests/GameFinder.StoreHandlers.EADesktop.Tests/CryptoTests/Test_Decryption.cs
Due: none

Add SteamId, SteamAccountType and SteamUniverse
  src/GameFinder.StoreHandlers.Steam/Models/SteamAccountType.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamUniverse.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/SteamIdTests.cs
Due: Steam

Add StateFlags
  src/GameFinder.StoreHandlers.Steam/Models/StateFlags.cs
Due: Steam

Add Constants
  src/GameFinder.StoreHandlers.Steam/Models/Constants.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
Due: Steam

Update docs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
Due: Steam

Update constants
  src/GameFinder.StoreHandlers.Steam/Models/Constants.cs
Due: Steam

Add value types
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/BuildId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/DepotId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/ManifestId.cs
Due: Steam

Add Update and Download behavior enums
  src/GameFinder.StoreHandlers.Steam/Models/AutoUpdateBehavior.cs
  src/GameFinder.StoreHandlers.Steam/Models/BackgroundDownloadBehavior.cs
Due: Steam

Add InstalledDepot
  src/GameFinder.StoreHandlers.Steam/Models/InstalledDepot.cs
Due: Steam

Add AppManifest
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
Due: Steam

Add tests
  src/GameFinder.StoreHandlers.Steam/Models/SteamAccountType.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/DepotId.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/SteamAccountTypeTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/AppIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/BuildIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/DepotIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/ManifestIdTests.cs
Due: Steam

Add missing values to AppManifest
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
Due: Steam

Rename ErrorMessage to LogMessage and use a LogLevel enum corresponding to levels from NLog and Microsoft.Extensions
  other/GameFinder.Example/Options.cs
  other/GameFinder.Example/Program.cs
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/ErrorMessage.cs
  src/GameFinder.Common/Extensions.cs
  src/GameFinder.Common/LogMessage.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/SchemaPolicy.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
  src/GameFinder.Wine/DefaultWinePrefixManager.cs
  src/GameFinder.Wine/Extensions.cs
  src/GameFinder.Wine/IWinePrefixManager.cs
  tests/GameFinder.Common.Tests/ExtensionTests.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_CreateSchemaVersionMessage.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_GetAppFolders.cs
  tests/GameFinder.Wine.Tests/Bottles/Test_ShouldError_InvalidPrefix.cs
  tests/GameFinder.Wine.Tests/Test_ShouldError_InvalidPrefix.cs
  tests/TestUtils/AssertionHelpers.cs
Due: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

Update AppManifest
  GameFinder.sln.DotSettings
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/InstalledDepot.cs
  src/GameFinder.StoreHandlers.Steam/Models/StateFlags.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/ManifestId.cs
  src/GameFinder.StoreHandlers.Steam/ResultExtensionMethods.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestWriter.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/GameFinder.StoreHandlers.Steam.Tests.csproj
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/AppManifestTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/ManifestIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/AppManifestParserTests.cs
Due: Steam

Update shared files
  GameFinder.sln
  other/GameFinder.Benchmarks/Program.cs
  other/GameFinder.Example/Program.cs
  tests/Directory.Build.targets
  tests/GameFinder.Common.Tests/GameFinder.Common.Tests.csproj
  tests/GameFinder.RegistryUtils.Tests/GameFinder.RegistryUtils.Tests.csproj
  tests/GameFinder.StoreHandlers.EADesktop.Tests/GameFinder.StoreHandlers.EADesktop.Tests.csproj
  tests/GameFinder.StoreHandlers.EGS.Tests/GameFinder.StoreHandlers.EGS.Tests.csproj
  tests/GameFinder.StoreHandlers.GOG.Tests/GameFinder.StoreHandlers.GOG.Tests.csproj
  tests/GameFinder.StoreHandlers.Origin.Tests/GameFinder.StoreHandlers.Origin.Tests.csproj
  tests/GameFinder.StoreHandlers.Steam.Tests/GameFinder.StoreHandlers.Steam.Tests.csproj
  tests/GameFinder.StoreHandlers.Xbox.Tests/GameFinder.StoreHandlers.Xbox.Tests.csproj
  tests/GameFinder.Wine.Tests/GameFinder.Wine.Tests.csproj
  tests/SharedAssemblyAttributes.cs
  tests/SharedUsings.cs
Due: none

Cleanup
  src/GameFinder.StoreHandlers.Steam/ResultExtensionMethods.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestWriter.cs
Due: Steam

Cleanup
  GameFinder.sln.DotSettings
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
Due: Steam

Add Workshop Item parser
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamUniverse.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/BuildId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/DepotId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/ManifestId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/WorkshopItemId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/WorkshopManifestId.cs
  src/GameFinder.StoreHandlers.Steam/Models/WorkshopItemDetails.cs
  src/GameFinder.StoreHandlers.Steam/Models/WorkshopManifest.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/WorkshopManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/WorkshopManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/WriterHelpers.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/SteamIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/ManifestIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/WorkshopManifestParserTests.cs
Due: Steam
