Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

codecov.yml:

ignore:
  - "tests/**/*"
  - "other/**/*"
  - "extern/**/*"

github_checks:
  annotations: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  after_n_builds: 2

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "src/GameFinder.Common/**"
        - "src/GameFinder.RegistryUtils/**"
    - component_id: wine
      name: Wine
      paths:
        - "src/GameFinder.Wine/**"
    - component_id: store_handler_ea_desktop
      name: EA Desktop
      paths:
        - "src/GameFinder.StoreHandlers.EADesktop/**"
    - component_id: store_handler_egs
      name: EGS
      paths:
        - "src/GameFinder.StoreHandlers.EGS/**"
    - component_id: store_handler_gog
      name: GOG
      paths:
        - "src/GameFinder.StoreHandlers.GOG/**"
    - component_id: store_handler_origin
      name: Origin
      paths:
        - "src/GameFinder.StoreHandlers.Origin/**"
    - component_id: store_handler_steam
      name: Steam
      paths:
        - "src/GameFinder.StoreHandlers.Steam/**"

dotnet format
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
Due: Wine

Update CI
  .github/workflows/ci.yml
Due: none

Convert Steam to use NMA IFileSystem
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.Wine/AWinePrefix.cs
  tests/Directory.Build.props
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ProtonWinePrefix.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_InvalidManifest.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_MissingLibraries.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_MissingValues.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_SteamNotFound_DefaultPaths.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_SteamNotFound_Registry.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_SteamGameProperties.cs
Due: Wine, Steam

Fix GOG double slashes
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
Due: GOG

Update README
  README.md
Due: none

Add Xbox Game Pass
  GameFinder.sln
  other/GameFinder.Example/GameFinder.Example.csproj
  other/GameFinder.Example/Options.cs
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.Xbox/AppManifest.cs
  src/GameFinder.StoreHandlers.Xbox/GameFinder.StoreHandlers.Xbox.csproj
  src/GameFinder.StoreHandlers.Xbox/XboxGame.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  src/GameFinder.Wine/AWinePrefix.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/GameFinder.StoreHandlers.Xbox.Tests.csproj
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_AppManifest.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_GamingRoot.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_GetAppFolders.cs
Due: Wine

dotnet format
  src/GameFinder.StoreHandlers.Xbox/AppManifest.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
Due: none

Update tests
  tests/GameFinder.StoreHandlers.Xbox.Tests/ArrangeHelpers.cs
Due: none

Fix Xbox
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_GetAppFolders.cs
Due: none

Update README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update trimming
  src/Directory.Build.props
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.RegistryUtils/GameFinder.RegistryUtils.csproj
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
Due: Core, GOG, Origin, Steam

Use value objects for ids
  Directory.Build.props
  GameFinder.sln
  GameFinder.sln.DotSettings
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.StoreHandlers.EADesktop/EADesktopGame.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopGameId.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/InstallInfoFile.cs
  src/GameFinder.StoreHandlers.EGS/EGSGame.cs
  src/GameFinder.StoreHandlers.EGS/EGSGameId.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGGameId.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginGame.cs
  src/GameFinder.StoreHandlers.Origin/OriginGameId.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamGameId.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGame.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGameId.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  src/System.IO.Abstractions.props
  tests/GameFinder.StoreHandlers.EADesktop.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_InstallInfoToGame.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/Test_ShouldWork_WithDuplicateKeys.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_SteamGameProperties.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_AppManifest.cs
  tests/TestUtils/AssertionHelpers.cs
Due: Core, EA Desktop, EGS, GOG, Origin, Steam

Update CHANGELOG and README
  CHANGELOG.md
  README.md
Due: none

Update logging in the example
  other/GameFinder.Example/Program.cs
Due: none

Test docker CI
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Due: none

Update workflow
  .github/workflows/docker.yml
Due: none

Update deps
  Directory.Build.props
  other/GameFinder.Example/GameFinder.Example.csproj
  src/GameFinder.Wine/GameFinder.Wine.csproj
Due: Wine

Update deps
  Directory.Build.props
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
Due: EA Desktop

Sanitize input paths
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/Utils.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  src/GameFinder.Wine/DefaultWinePrefixManager.cs
  tests/Directory.Build.props
  tests/GameFinder.Common.Tests/GameFinder.Common.Tests.csproj
  tests/GameFinder.Common.Tests/HandlerTests.cs
Due: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

Fix Windows
  src/GameFinder.Common/Utils.cs
Due: Core

Update skip
  tests/GameFinder.Common.Tests/HandlerTests.cs
Due: none

Using OneOf
  CHANGELOG.md
  README.md
  other/GameFinder.Benchmarks/LinqBenchmarks.cs
  other/GameFinder.Benchmarks/Program.cs
  other/GameFinder.Example/Program.cs
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/ErrorMessage.cs
  src/GameFinder.Common/Extensions.cs
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.Common/Result.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/SchemaPolicy.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_InstallInfoToGame.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/Test_ShouldError_InvalidManifest.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_InvalidManifest.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_AppManifest.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_GamingRoot.cs
  tests/TestUtils/AssertionHelpers.cs
Due: Core, EA Desktop, EGS, GOG, Origin, Steam

Ignore MA0051
  Directory.Build.props
  src/GameFinder.Wine/GameFinder.Wine.csproj
Due: Wine

Update tests
  src/GameFinder.Common/ErrorMessage.cs
  tests/GameFinder.Common.Tests/ExtensionTests.cs
Due: Core

Update Xbox Handler to use Content folder as well
  Directory.Build.props
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
Due: none

Steam: fix file not found
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Fix skip
  tests/GameFinder.Common.Tests/HandlerTests.cs
Due: none

Update skip
  other/GameFinder.Example/Program.cs
  src/GameFinder.Common/Extensions.cs
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
  src/GameFinder.Wine/DefaultWinePrefixManager.cs
  src/GameFinder.Wine/Extensions.cs
  src/GameFinder.Wine/IWinePrefixManager.cs
  src/GameFinder.Wine/PrefixDiscoveryError.cs
  tests/GameFinder.Common.Tests/HandlerTests.cs
  tests/GameFinder.Wine.Tests/Bottles/Test_ShouldError_InvalidPrefix.cs
  tests/GameFinder.Wine.Tests/Bottles/Test_ShouldWork_ValidPrefix.cs
  tests/GameFinder.Wine.Tests/Test_ShouldError_InvalidPrefix.cs
  tests/GameFinder.Wine.Tests/Test_ShouldWork_ValidPrefix.cs
Due: Core, Wine

Add IGame interface
  CHANGELOG.md
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/Extensions.cs
  src/GameFinder.Common/IGame.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopGame.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EGS/EGSGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.Origin/OriginGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGame.cs
  tests/GameFinder.Common.Tests/ExtensionTests.cs
  tests/TestUtils/AssertionHelpers.cs
Due: Core, EA Desktop, EGS, GOG, Origin, Steam

Update deps
  Directory.Build.props
  src/GameFinder.Common/GameFinder.Common.csproj
  tests/Directory.Build.props
Due: Core
