Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

codecov.yml:

ignore:
  - "tests/**/*"
  - "other/**/*"
  - "extern/**/*"

github_checks:
  annotations: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  after_n_builds: 2

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "src/GameFinder.Common/**"
        - "src/GameFinder.RegistryUtils/**"
    - component_id: wine
      name: Wine
      paths:
        - "src/GameFinder.Wine/**"
    - component_id: store_handler_ea_desktop
      name: EA Desktop
      paths:
        - "src/GameFinder.StoreHandlers.EADesktop/**"
    - component_id: store_handler_egs
      name: EGS
      paths:
        - "src/GameFinder.StoreHandlers.EGS/**"
    - component_id: store_handler_gog
      name: GOG
      paths:
        - "src/GameFinder.StoreHandlers.GOG/**"
    - component_id: store_handler_origin
      name: Origin
      paths:
        - "src/GameFinder.StoreHandlers.Origin/**"
    - component_id: store_handler_steam
      name: Steam
      paths:
        - "src/GameFinder.StoreHandlers.Steam/**"

Fix date parsing
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
Due: Steam

Replace get-only auto properties with methods
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/InstalledDepot.cs
  src/GameFinder.StoreHandlers.Steam/Models/SteamId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/BuildId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/DepotId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/ManifestId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/WorkshopItemId.cs
  src/GameFinder.StoreHandlers.Steam/Models/WorkshopItemDetails.cs
  src/GameFinder.StoreHandlers.Steam/Models/WorkshopManifest.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/SteamIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/AppIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/BuildIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/DepotIdTests.cs
Due: Steam

Fix formatting
  other/GameFinder.Benchmarks/Program.cs
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
  tests/SharedAssemblyAttributes.cs
Due: Steam

Fix EA Desktop schema test
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_CreateSchemaVersionMessage.cs
Due: none

Cleanup
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
Due: Steam

Add LibraryFoldersManifest
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFoldersManifest.cs
  src/GameFinder.StoreHandlers.Steam/Services/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/LibraryFoldersManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/LibraryFoldersManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/WorkshopManifestParser.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/LibraryFoldersManifestParserTests.cs
Due: Steam

Rework SteamHandler
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.Steam/EnumerableExtensions.cs
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj.DotSettings
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/LibraryFoldersManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/WorkshopManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/AppManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/LibraryFoldersManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/WorkshopManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/WriterHelpers.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamGameId.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/AppManifestTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/LibraryFolderTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/SteamHandlerTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ProtonWinePrefix.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_InvalidManifest.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_MissingLibraries.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_MissingValues.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_SteamNotFound_DefaultPaths.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldError_SteamNotFound_Registry.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_SteamGameProperties.cs
  tests/SharedAssemblyAttributes.cs
Due: Steam

Fix formatting
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix SteamHandlerTests
  tests/GameFinder.StoreHandlers.Steam.Tests/SteamHandlerTests.cs
Due: none

Fix AbsolutePath being default
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/SteamHandlerTests.cs
Due: Steam

Fix
  tests/GameFinder.StoreHandlers.Steam.Tests/SteamHandlerTests.cs
Due: none

Add ToString overwrites
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
Due: Steam

Add LocalUserConfig
  src/GameFinder.StoreHandlers.Steam/Models/LocalAppData.cs
  src/GameFinder.StoreHandlers.Steam/Models/LocalUserConfig.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/LocalUserConfigParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/ParserHelpers.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/LocalUserConfigWriter.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/LocalUserConfigParserTests.cs
Due: Steam

Add circleci config
  .circleci/config.yml
  tests/Directory.Build.props
Due: none

Fix && in PS
  .circleci/config.yml
Due: none

Use correct test logger
  .circleci/config.yml
Due: none

Update circleci config
  .circleci/config.yml
Due: none

Use central package management
  Directory.Build.props
  Directory.Packages.props
  GameFinder.sln
  other/GameFinder.Benchmarks/GameFinder.Benchmarks.csproj
  other/GameFinder.Example/GameFinder.Example.csproj
  src/Directory.Build.props
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.RegistryUtils/GameFinder.RegistryUtils.csproj
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/NexusMods.Paths.props
  tests/Directory.Build.props
  tests/NexusMods.Paths.TestingHelpers.props
Due: Core, EA Desktop, Steam

Fix NU1008
  Directory.Build.props
  Directory.Packages.props
Due: none

Fix NU1008
  Directory.Packages.props
  tests/GameFinder.StoreHandlers.Steam.Tests/GameFinder.StoreHandlers.Steam.Tests.csproj
Due: none

Update dependencies
  Directory.Packages.props
Due: none

Fix unsanitized relative path in xbox
  CHANGELOG.md
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
Due: none

Add a RegistryEntry sub-record to SteamGame record
  src/GameFinder.StoreHandlers.Steam/Models/RegistryEntry.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/RegistryEntryParser.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Fix #93
  CHANGELOG.md
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
Due: Steam

Replace Moq with NSubstitute
  Directory.Packages.props
  tests/Directory.Build.props
  tests/GameFinder.Common.Tests/ExtensionTests.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/ArrangeHelpers.cs
Due: none

Upgrade dependencies
  Directory.Packages.props
Due: none

Cleanup package references
  GameFinder.sln
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Xbox/GameFinder.StoreHandlers.Xbox.csproj
  src/GameFinder.Wine/GameFinder.Wine.csproj
  src/NexusMods.Paths.props
  tests/NexusMods.Paths.TestingHelpers.props
Due: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

Pack release builds
  .github/workflows/release.yml
  src/Directory.Build.props
  src/GameFinder.RegistryUtils/InMemoryRegistry.cs
Due: Core

Revert cb1396b85693e3a0063570d9ba318b5fa8de4a8a
  LICENSE
  src/Directory.Build.props
Due: none
