Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

Use GenerateDocumentationFile
  src/Directory.Build.props
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.RegistryUtils/GameFinder.RegistryUtils.csproj
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Xbox/GameFinder.StoreHandlers.Xbox.csproj
  src/GameFinder.Wine/GameFinder.Wine.csproj
Due: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

Update project properties
  Directory.Build.props
  src/Directory.Build.props
Due: none

Make EGS and EA Desktop trimmable
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EADesktop/InstallInfoFile.cs
  src/GameFinder.StoreHandlers.EADesktop/SourceGenerationContext.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.EGS/SourceGenerationContext.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/ArrangeHelpers.cs
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_InstallInfoToGame.cs
Due: EA Desktop, EGS

Use UnconditionalSuppressMessage
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
Due: EA Desktop

Update deps
  Directory.Build.props
  other/GameFinder.Example/GameFinder.Example.csproj
Due: none

Update EGS naming
  src/GameFinder.StoreHandlers.EGS/EGSGame.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/Test_ShouldWork_FindAllGames.cs
Due: EGS

Update README
  README.md
Due: none

Update trimming
  other/GameFinder.Example/GameFinder.Example.csproj
  other/GameFinder.Example/GameFinderRoots.xml
  other/GameFinder.Example/Program.cs
  src/Directory.Build.props
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Xbox/AppManifest.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
  tests/TestUtils/AssertionHelpers.cs
Due: EA Desktop, EGS, GOG, Origin, Steam

Update workflow to publish trimmed
  .github/workflows/ci.yml
Due: none

Fix startup crash
  other/GameFinder.Example/GameFinderRoots.xml
Due: none

Update CHANGELOG and README
  CHANGELOG.md
  README.md
Due: none

Update projects
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.RegistryUtils/GameFinder.RegistryUtils.csproj
Due: Core

Add GameFinder meta package
  GameFinder.sln
  src/GameFinder/GameFinder.csproj
Due: none

Update deps
  Directory.Build.props
Due: none

Remove submodule
  .github/workflows/ci.yml
  .gitmodules
  Directory.Build.props
  GameFinder.sln
  extern/Directory.Build.targets
  src/NexusMods.Paths.props
  tests/Directory.Build.props
  tests/GameFinder.Common.Tests/GameFinder.Common.Tests.csproj
  tests/GameFinder.StoreHandlers.EADesktop.Tests/GameFinder.StoreHandlers.EADesktop.Tests.csproj
  tests/GameFinder.StoreHandlers.EGS.Tests/GameFinder.StoreHandlers.EGS.Tests.csproj
  tests/GameFinder.StoreHandlers.GOG.Tests/GameFinder.StoreHandlers.GOG.Tests.csproj
  tests/GameFinder.StoreHandlers.Origin.Tests/GameFinder.StoreHandlers.Origin.Tests.csproj
  tests/GameFinder.StoreHandlers.Steam.Tests/GameFinder.StoreHandlers.Steam.Tests.csproj
  tests/GameFinder.StoreHandlers.Xbox.Tests/GameFinder.StoreHandlers.Xbox.Tests.csproj
  tests/GameFinder.Wine.Tests/GameFinder.Wine.Tests.csproj
  tests/NexusMods.Paths.TestingHelpers.props
Due: none

Update workflow
  .github/workflows/ci.yml
Due: none

Use floating versions
  Directory.Build.props
  GameFinder.sln.DotSettings
  other/GameFinder.Benchmarks/GameFinder.Benchmarks.csproj
  other/GameFinder.Example/GameFinder.Example.csproj
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  tests/Directory.Build.props
Due: Core, EA Desktop, Steam

Add AWinePrefix.GetUserName
  src/GameFinder.StoreHandlers.Steam/ProtonWinePrefix.cs
  src/GameFinder.Wine/AWinePrefix.cs
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
  src/GameFinder.Wine/DefaultWinePrefixManager.cs
Due: Wine, Steam

Update CHANGELOG
  CHANGELOG.md
Due: none

Update release workflow
  .github/workflows/release.yml
Due: none

Rework CHANGELOG
  CHANGELOG.md
Due: none

Make AHandler.IdEqualityComparer public
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
Due: Core, EA Desktop, EGS, GOG, Origin, Steam

Return IReadOnlyDictionary instead of IDictionary
  CHANGELOG.md
  README.md
  src/GameFinder.Common/AHandler.cs
  src/GameFinder.Common/Extensions.cs
Due: Core

Add WindowsRegistry.Shared
  CHANGELOG.md
  src/GameFinder.RegistryUtils/WindowsRegistry.cs
Due: Core

Update constructors
  CHANGELOG.md
  README.md
  other/GameFinder.Example/Program.cs
  src/GameFinder.StoreHandlers.EADesktop/EADesktopHandler.cs
  src/GameFinder.StoreHandlers.EGS/EGSHandler.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
  src/GameFinder.StoreHandlers.Xbox/XboxHandler.cs
Due: EA Desktop, EGS, GOG, Origin, Steam

Fix release workflow
  .github/workflows/release.yml
Due: none

Remove meta package
  GameFinder.sln
  src/GameFinder/GameFinder.csproj
Due: none

Revert "Remove meta package"
  GameFinder.sln
  src/GameFinder/GameFinder.csproj
Due: none

Fix meta package properties
  src/GameFinder/GameFinder.csproj
Due: none

Add non-generic AHandler base class
  CHANGELOG.md
  src/GameFinder.Common/AHandler.cs
Due: Core

Update tests
  tests/GameFinder.StoreHandlers.EADesktop.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.EGS.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.GOG.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Test_ShouldWork_FindAllGames.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/Test_FindAllGames.cs
  tests/TestUtils/AssertionHelpers.cs
Due: none

Change AWinePrefix from class to record
  CHANGELOG.md
  src/GameFinder.Common/ErrorMessage.cs
  src/GameFinder.StoreHandlers.Steam/ProtonWinePrefix.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  src/GameFinder.Wine/AWinePrefix.cs
  src/GameFinder.Wine/Bottles/BottlesWinePrefix.cs
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
  src/GameFinder.Wine/DefaultWinePrefixManager.cs
  src/GameFinder.Wine/WinePrefix.cs
  tests/GameFinder.Wine.Tests/Bottles/Test_BottlesWinePrefixProperties.cs
  tests/GameFinder.Wine.Tests/Test_CreateRegistry.cs
  tests/GameFinder.Wine.Tests/Test_WinePrefixProperties.cs
Due: Core, Wine, Steam

Path conditions:
  Core: any of: src/GameFinder.Common/**, src/GameFinder.RegistryUtils/**, but not: tests/**/*, other/**/*, extern/**/*
  Wine: any of: src/GameFinder.Wine/**, but not: tests/**/*, other/**/*, extern/**/*
  EA Desktop: any of: src/GameFinder.StoreHandlers.EADesktop/**, but not: tests/**/*, other/**/*, extern/**/*
  EGS: any of: src/GameFinder.StoreHandlers.EGS/**, but not: tests/**/*, other/**/*, extern/**/*
  GOG: any of: src/GameFinder.StoreHandlers.GOG/**, but not: tests/**/*, other/**/*, extern/**/*
  Origin: any of: src/GameFinder.StoreHandlers.Origin/**, but not: tests/**/*, other/**/*, extern/**/*
  Steam: any of: src/GameFinder.StoreHandlers.Steam/**, but not: tests/**/*, other/**/*, extern/**/*
