Repository erri120/GameFinder: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Wine, EA Desktop, EGS, GOG, Origin, Steam

codecov.yml:

ignore:
  - "tests/**/*"
  - "other/**/*"
  - "extern/**/*"

github_checks:
  annotations: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  after_n_builds: 2

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "src/GameFinder.Common/**"
        - "src/GameFinder.RegistryUtils/**"
    - component_id: wine
      name: Wine
      paths:
        - "src/GameFinder.Wine/**"
    - component_id: store_handler_ea_desktop
      name: EA Desktop
      paths:
        - "src/GameFinder.StoreHandlers.EADesktop/**"
    - component_id: store_handler_egs
      name: EGS
      paths:
        - "src/GameFinder.StoreHandlers.EGS/**"
    - component_id: store_handler_gog
      name: GOG
      paths:
        - "src/GameFinder.StoreHandlers.GOG/**"
    - component_id: store_handler_origin
      name: Origin
      paths:
        - "src/GameFinder.StoreHandlers.Origin/**"
    - component_id: store_handler_steam
      name: Steam
      paths:
        - "src/GameFinder.StoreHandlers.Steam/**"

Add exception wrappers
  src/GameFinder.Common/ExceptionWrappers/ReferenceTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/UnmanagedTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/ValueTypeOrException.cs
  src/GameFinder.Common/GameFinder.Common.csproj.DotSettings
  tests/GameFinder.Common.Tests/ExceptionWrappers/ReferenceTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/UnmanagedTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ValueTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/GameFinder.Common.Tests.csproj
  tests/GameFinder.Common.Tests/GameFinder.Common.Tests.csproj.DotSettings
Due: Core

Add ExceptionCollector
  src/GameFinder.Common/ExceptionWrappers/ExceptionCollector.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ExceptionCollectorTests.cs
Due: Core

Add ExceptionCollector.ThrowAllExceptions
  src/GameFinder.Common/ExceptionWrappers/ExceptionCollector.cs
  src/GameFinder.Common/ExceptionWrappers/ExceptionCollectorAggregatedException.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ExceptionCollectorTests.cs
Due: Core

Add TryGetValue
  src/GameFinder.Common/ExceptionWrappers/ReferenceTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/UnmanagedTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/ValueTypeOrException.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ReferenceTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/UnmanagedTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ValueTypeOrExceptionTests.cs
Due: Core

Add IValueOrException interface
  src/GameFinder.Common/ExceptionWrappers/IValueOrException.cs
  src/GameFinder.Common/ExceptionWrappers/ReferenceTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/UnmanagedTypeOrException.cs
  src/GameFinder.Common/ExceptionWrappers/ValueTypeOrException.cs
Due: Core

Cleanup
  tests/GameFinder.Common.Tests/ExceptionWrappers/AValueOrExceptionTest.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ReferenceTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/UnmanagedTypeOrExceptionTests.cs
  tests/GameFinder.Common.Tests/ExceptionWrappers/ValueTypeOrExceptionTests.cs
Due: none

Update to .NET 8
  Directory.Build.props
Due: none

Upgrade packages
  Directory.Packages.props
Due: none

Replace Vogen with TransparentValueObjects
  Directory.Packages.props
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.StoreHandlers.EADesktop/EADesktopGameId.cs
  src/GameFinder.StoreHandlers.EADesktop/GameFinder.StoreHandlers.EADesktop.csproj
  src/GameFinder.StoreHandlers.EGS/EGSGameId.cs
  src/GameFinder.StoreHandlers.EGS/GameFinder.StoreHandlers.EGS.csproj
  src/GameFinder.StoreHandlers.GOG/GOGGameId.cs
  src/GameFinder.StoreHandlers.GOG/GameFinder.StoreHandlers.GOG.csproj
  src/GameFinder.StoreHandlers.Origin/GameFinder.StoreHandlers.Origin.csproj
  src/GameFinder.StoreHandlers.Origin/OriginGameId.cs
  src/GameFinder.StoreHandlers.Steam/GameFinder.StoreHandlers.Steam.csproj
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Models/InstalledDepot.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/AppId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/BuildId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/DepotId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/ManifestId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/WorkshopItemId.cs
  src/GameFinder.StoreHandlers.Steam/Models/ValueTypes/WorkshopManifestId.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/AppManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/WorkshopManifestWriter.cs
  src/GameFinder.StoreHandlers.Xbox/GameFinder.StoreHandlers.Xbox.csproj
  src/GameFinder.StoreHandlers.Xbox/XboxGameId.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/AppIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/BuildIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/DepotIdTests.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Models/ValueTypes/ManifestIdTests.cs
Due: Core, EA Desktop, EGS, GOG, Origin, Steam

Fix #119
  src/GameFinder.Wine/Bottles/BottlesWinePrefixManager.cs
Due: Wine

Fix #118
  src/GameFinder.StoreHandlers.Steam/Models/AppManifest.cs
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/AppManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/Services/Writers/AppManifestWriter.cs
  src/GameFinder.StoreHandlers.Steam/SteamGame.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/ArrangeHelper.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/AppManifestParserTests.cs
Due: Steam

Update CHANGELOG
  CHANGELOG.md
Due: none

Adds support for OSX version of Steam
  src/GameFinder.StoreHandlers.Steam/Services/SteamLocationFinder.cs
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
Due: Steam

Update the example to show it works
  other/GameFinder.Example/Program.cs
Due: none

Add OSX to the ci.yaml
  .github/workflows/ci.yml
Due: none

Handle PR feedback
  .github/workflows/ci.yml
  tests/GameFinder.StoreHandlers.Steam.Tests/Services/SteamLocationFinderTests.cs
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Upgrade deps
  CHANGELOG.md
  Directory.Packages.props
Due: none

Fix for #114
  src/GameFinder.StoreHandlers.EADesktop/Crypto/Windows/WMIHelper.cs
Due: EA Desktop

Fix crash in SteamHandler with missing library
  src/GameFinder.StoreHandlers.Steam/Models/LibraryFolder.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Fix crash in SteamHandler with unmatched quotation mark in library label
  src/GameFinder.StoreHandlers.Steam/Services/Parsers/LibraryFoldersManifestParser.cs
  src/GameFinder.StoreHandlers.Steam/SteamHandler.cs
Due: Steam

Upgrade deps
  Directory.Packages.props
Due: none

Add OriginGameId
  src/GameFinder.StoreHandlers.Origin/OriginGameId.cs
Due: Origin

Add IGame
  src/GameFinder.Common/IGame.cs
  src/GameFinder.StoreHandlers.Origin/OriginGame.cs
Due: Core, Origin

Origin
  GameFinder.sln.DotSettings
  src/GameFinder.StoreHandlers.Origin/LogMessages.cs
  src/GameFinder.StoreHandlers.Origin/ManifestLocator.cs
  src/GameFinder.StoreHandlers.Origin/ManifestParser.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
Due: Origin

Add tests
  tests/GameFinder.StoreHandlers.Origin.Tests/ManifestParserTests.cs
  tests/TestUtils/XunitLogger.cs
Due: none

Update
  src/GameFinder.StoreHandlers.Origin/LogMessages.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/GameFinder.StoreHandlers.Origin.Tests.csproj
  tests/GameFinder.StoreHandlers.Origin.Tests/ManifestParserTests.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/files/Origin.OFR.50.0002694.mfst
Due: Origin

GOG
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/GOGGameId.cs
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
  src/GameFinder.StoreHandlers.GOG/LogMessages.cs
  src/GameFinder.StoreHandlers.GOG/RegistryParser.cs
  src/GameFinder.StoreHandlers.Origin/OriginHandler.cs
Due: GOG, Origin

Update Program
  other/GameFinder.Example/Program.cs
Due: none

Cleanup
  src/GameFinder.StoreHandlers.GOG/GOGHandler.cs
Due: GOG

Add manifest parsing
  src/GameFinder.StoreHandlers.Xbox/LogMessages.cs
  src/GameFinder.StoreHandlers.Xbox/Serialization/AppManifest.cs
Due: none

Add tests
  tests/GameFinder.StoreHandlers.Xbox.Tests/AppManifestTests.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/GameFinder.StoreHandlers.Xbox.Tests.csproj
  tests/GameFinder.StoreHandlers.Xbox.Tests/files/appxmanifest.xml
Due: none

Updated
  src/GameFinder.StoreHandlers.Xbox/Serialization/AppManifest.cs
  src/GameFinder.StoreHandlers.Xbox/Serialization/GamingRootFile.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/AppManifestTests.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/GamingRootFileTests.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/files/GamingRoot
  tests/TestUtils/TestWrapper.cs
Due: none

Update
  src/GameFinder.StoreHandlers.Xbox/LogMessages.cs
  src/GameFinder.StoreHandlers.Xbox/Serialization/GamingRootFile.cs
  tests/GameFinder.StoreHandlers.Xbox.Tests/GamingRootFileTests.cs
Due: none

Update
  src/GameFinder.Common/GameFinder.Common.csproj
  src/GameFinder.Common/IGame.cs
  src/GameFinder.Common/IGameId.cs
  src/GameFinder.Common/IGameName.cs
  src/GameFinder.StoreHandlers.GOG/GOGGame.cs
  src/GameFinder.StoreHandlers.GOG/RegistryParser.cs
  src/GameFinder.StoreHandlers.Origin/ManifestParser.cs
  src/GameFinder.StoreHandlers.Origin/OriginGame.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGame.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGameId.cs
  tests/GameFinder.StoreHandlers.Origin.Tests/ManifestParserTests.cs
Due: Core, GOG, Origin

Add IGameFinder
  src/GameFinder.Common/IGameFinder.cs
  src/GameFinder.Common/IGameId.cs
  src/GameFinder.StoreHandlers.GOG/GOGGameId.cs
  src/GameFinder.StoreHandlers.Origin/OriginGameId.cs
  src/GameFinder.StoreHandlers.Xbox/XboxGameId.cs
Due: Core, GOG, Origin
